name: Test

on: [push, pull_request]

jobs:
  native:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: APT cleanup
      # Remove non-installable git packages. There git-svn can not be installed
      # because the image contains newer versions which do not have matching git-svn
      # in enabled repositories.
      run: sudo apt-get purge git git-man
    - name: Exim
      run: sudo ./configure-system
    - name: Bootstrap
      run: |
        # shellcheck disable=SC2024
        sudo ./bootstrap < .github/boostrap.txt
        cat /etc/weblate-bootstrap
    - name: PostgreSQL
      run: sudo ./install-posgtresql
    - name: Weblate
      run: sudo ./install-weblate --nocert
    - name: Upgrade
      run: sudo ./upgrade-weblate --nodiff
    - name: Upgrade (lazy restart)
      run: sudo ./upgrade-weblate --nodiff --lazy-restart
    - name: Migrate to docker
      run: sudo ./migrate-docker --nomail
    - name: Logs
      if: always()
      run: |
        cd /home/weblate/weblate
        docker compose logs

  system:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: APT cleanup
      # Remove non-installable git packages. There git-svn can not be installed
      # because the image contains newer versions which do not have matching git-svn
      # in enabled repositories.
      run: sudo apt-get purge git git-man
    - name: Exim
      run: sudo ./configure-system
    - name: Bootstrap
      run: |
        # shellcheck disable=SC2024
        sudo ./bootstrap < .github/boostrap.txt
        cat /etc/weblate-bootstrap
    - name: Exim
      run: sudo ./install-exim
    - name: PostgreSQL
      run: sudo ./install-posgtresql
    - name: Munin
      run: sudo ./install-munin
    - name: Graylog
      run: |
        sudo ./install-graylog
        sudo cat /etc/graylog/sidecar/sidecar.yml


  docker:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: APT cleanup
      # Remove non-installable git packages. There git-svn can not be installed
      # because the image contains newer versions which do not have matching git-svn
      # in enabled repositories.
      run: sudo apt-get purge git git-man
    - name: Exim
      run: sudo ./configure-system
    - name: Bootstrap
      run: |
        # shellcheck disable=SC2024
        sudo ./bootstrap < .github/boostrap.txt
        cat /etc/weblate-bootstrap
    - name: Docker
      run: sudo ./install-docker
    - name: Weblate
      run: sudo ./install-weblate-docker --nocert --nomail
    - name: Upgrade
      run: sudo ./upgrade-weblate
    - name: Upgrade PostgreSQL
      run: sudo ./upgrade-postgresql
    - name: Logs
      if: always()
      run: |
        cd /home/weblate/weblate
        docker compose logs
permissions:
  contents: read
